.they-trusted-us-container {
  overflow: hidden;
  background: #2b2b2b;
  color: white;
  white-space: nowrap;
  position: relative;
  height: 200px;
}

.they-trusted-us-logo-container {
  position: absolute;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.they-trusted-us-element {
  height: 150px;
  margin: 0 30px;
  display: flex;
  align-items: center;
}

.they-trusted-us-logo-container img {
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* @media (max-width: 800px) {
  .they-trusted-us-container {
    height: 150px;
  }

  .they-trusted-us-element {
    margin: 0 15px;
    max-width: 150px;
    justify-content: center;
  }
} */

#betterscan-logo {
  height: 20px;
}

#mywatcher-logo {
  height: 25px;
}

#certik {
  height: 35px;
}
#hacken{
  height: 55px;
  filter: invert(1);
}
#lux-logo {
  height: 85px;
  border-radius: 10px;
}

#metalyde-logo {
  height: 70px;
  border-radius: 10px;
}

#global-expertise-logo {
  height: 70px;
}

#cergy {
  height: 70px;
}

#frenchtechmy {
  height: 90px;
}

#republike-logo {
  height: 25px;
}

#harbor-logo {
  height: 70px;
  border-radius: 10px;
}

#la-capsule-logo {
  height: 55px;
}

#html-agency-logo {
  height: 35px;
}

#masverse {
  height: 35px;
}

@media (max-width: 800px) {
  .they-trusted-us-container {
    height: 150px;
  }
  .they-trusted-us-logo-container {
    top: 0px;
  }
  .they-trusted-us-logo-container > div {
    margin: 0 10px;
    max-width: 150px;
    justify-content: center;
  }

  #lux-logo {
    height: 45px;
    border-radius: 10px;
  }
  #certik{
    height: 25px;
  }
  #hacken {
    height: 35px;
  }
  #mywatcher-logo {
    height: 25px;
  }

  #sofan-logo {
    height: 25px;
  }

  #cergy {
    height: 40px;
  }
  #masverse {
    height: 20px;
  }
  #metalyde-logo {
    height: 50px;
    border-radius: 10px;
  }

  #global-expertise-logo {
    height: 70px;
  }
  #frenchtechmy {
    height: 70px;
  }
  #republike-logo {
    height: 10px;
  }

  #harbor-logo {
    height: 50px;
    border-radius: 10px;
  }

  #la-capsule-logo {
    height: 35px;
  }

  #html-agency-logo {
    height: 20px;
  }
}
