.carousel-container {
  background-color: red;
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: visible;
}
.carousel-wrap{
  overflow: visible;
  display: flex;
  width: 80vw;

}
.swiper-button-next {
  /* right: -20px !important; */
}
.swiper-button-prev {
  /* position: relative; */
  /* left: 50%; */
}
.swiper-slide {
  min-height: 50px;
  /* background-color: aqua; */
}
.carousel-slide-container{
display: flex;
justify-content: center;
}
.carousel-slide-wrap{
  width: 80%;
  background-color:yellow;
}