.carousel-container {
  /* background-color: red; */
  height: 70vh;
  width: 100%;
  /* max-width: 96vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
}
.carousel-wrap {
  overflow: visible;
  display: flex;
  width: 80vw;
  margin-top: 40px;
  position: relative;
}
.carousel-title {
  margin: 40px;
  font-size: 2.5em;
  font-weight: 800;
}

.swiper-slide {
  min-height: 50px;
}
.carousel-slide-container {
  display: flex;
}
.carousel-slide-wrap {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 10px;
  text-decoration: underline;
}
.swiper-slide-container-hover {
  transition-duration: 600ms;
  opacity: 0.5 !important;
}
.carousel-slide-wrap-hover {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 10px;
  text-decoration: underline;
  opacity: 0.2;
}
.swiper {
  height: 378px;
  width: 672px;

  /* Échelle basée sur la largeur de la fenêtre d'affichage */
  transform-origin: left center; /* Ajuste l'origine du scaling */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.swiper-slide:nth-child(n){
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}
.swiper-slide:nth-child(1n) {
  background-color: black;
  background-image: url("../../assets/republike.svg");
  background-image: url("../../assets/philippegonnet.svg");
  filter: drop-shadow();
}

.swiper-slide:nth-child(2n) {
  background-image: url("../../assets/republike.svg");
  background-size: 100%;
}

.swiper-slide:nth-child(3n) {
  background-color: black;
  background-image: url("../../assets/sofan.webp");
}
.swiper-slide:nth-child(4n) {
  background-color: black;
  background-image: url("../../assets/lux.svg");
}
.swiper-slide:nth-child(5n) {
  background-color: black;
  background-image: url("../../assets/stone.JPG");
}
.swiper-slide:nth-child(6n) {
  background-color: black;
  background-image: url("../../assets/nobrainer.png");
}
@media (max-width: 1050px) {
  .swiper {
    width: 550px;
    height: 300px;
  }
}
@media (max-width: 850px) {
  .swiper {
    width: 450px;
    height: 250px;
  }
  .carousel-slide-wrap {
    font-size: 16px;
  }
  .carousel-title {
    font-size: 1.9em;
  }
}
@media (max-width: 750px) {
  .swiper {
    width: 350px;
    height: 190px;
  }
  .carousel-slide-wrap {
    left: 15px;
    padding: 8px;
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .carousel-container {
    /* background-color: red; */
    height: 50vh;
  }
  .swiper {
    width: 340px;
    height: 140px;
  }
  .carousel-slide-wrap {
    bottom: 15px;
  }
}
@media (max-width: 450px) {
  .swiper {
    width: 280px;
    height: 140px;
  }
  .carousel-slide-wrap {
    bottom: 15px;
  }
}
